[Unit]
Description=Keeps an SSH tunnel to 'my_domain.com' open
After=network-online.target  # start this service after "network-online"
Wants=network-online.target  # "network-online" is a dependency/mandatory for this service

[Service]

# autossh
#   -p <port>  # remote port to connect to SSH, default 22
#   -l <user>  # user to connect to SSH, default `whoami`
#   -N         # connect to the SSH and do nothing (not interactive connection)
#   -M 0       # disable "autossh monitoring port", we rely on ssh exiting alone

# ssh
#   -o "ServerAliveInterval 60"  # interval at which the client send a null packet to the server (to keep the connection alive)
#   -o "ServerAliveCountMax 3"   # number of retry before disconnecting/closing the connection
#   -R <local port>:<remote ip address>:<remote port>  # redirect a local port to expose it on a remote ip address and port

ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -p 10000 -l my_user my_domain.com -R 30000:127.0.0.1:22

RestartSec=120  # if this service crash, it will be restarted after 2 minutes
Restart=always  # if this service crash always restart

[Install]
WantedBy=default.target
